body {
    background-color: white;
    color: #002c2b;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    background-image: linear-gradient( to right, #DF4C83, #FB9EC0, #FDBCD4 );  
}

h1 {
    text-align: center;
}

.text-input{
    width:300px;
    height: 200px;
}

button {
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: #FF087F;
    border-radius: 30px;
    border: none;
    font-size: 20px;
}



p {
    color: #4F1B46;
    display: inline;
    text-align: center;
    border: 10px;
    font-weight: 600;
}
